@import url("./theme.css");
@import url("./fonts.css");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#id {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text);
}

.primary-color {
  color: var(--primary-text);
}

.bg-secondary {
  background: var(--overlay-color) !important;
}

.pt-66 {
  padding-top: 66px !important;
}
