:root {
  /* main color */
  --color1: rgba(8, 6, 2, 1);
  --color2: rgba(124, 92, 2, 1);
  --color3: rgba(142, 113, 10, 1);
  --color4: rgba(187, 148, 19, 1);
  --color5: #fcc503;

  /* bg color/ */
  --overlay-color: rgba(8, 6, 2, 0.8);

  /* text color */
  --primary-text: var(--color4);
  --secondary-text: var(--color5);
}
