.title {
  font-size: 42px;
  font-weight: 600;
  letter-spacing: 20px;
  animation: textAnimation 2s infinite alternate;
  color: #ffffff;
}

.title span {
  display: inline-block;
}

.title span:first-letter {
  color: var(--secondary-text);
}

@keyframes textAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.subtitle {
  font-style: italic;
  color: var(--color2);
}

.default-height {
  height: 90vh;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (height/width) */
  height: 0;
  overflow: hidden;
}
.video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
