.navbar {
  background: transparent !important;
}

.navbar-brand {
  color: var(--primary-text);
  opacity: 1 !important;
}

.nav-link {
  color: var(--primary-text);
  opacity: 1 !important;
}

.nav-link.active {
  color: var(--secondary-text) !important;
}

a:hover {
  color: var(--secondary-text) !important;
}

.logo {
  height: 40px;
}

.solid {
  background: var(--color1) !important;
}
